<div class="background">
  <!-- Columna 1 -->
  <div class="image-column">
      <div class="image-rect" style="background-image: url('../../../assets/img/img1.jpg');"></div>
      <div class="image-rect" style="background-image: url('../../../assets/img/img2.jpg');"></div>
      <div class="image-rect" style="background-image: url('../../../assets/img/img3.jpg');"></div>
  </div>
  <!-- Columna 2 -->
  <div class="image-column">
      <div class="image-rect" style="background-image: url('../../../assets/img/img5.jpg');"></div>
      <div class="image-rect" style="background-image: url('../../../assets/img/img6.jpg');"></div>
      <div class="image-rect" style="background-image: url('../../../assets/img/img7.jpg');"></div>
  </div>
  <!-- Columna 3 -->
  <div class="image-column">
    <div class="image-rect" style="background-image: url('../../../assets/img/img8.jpg');"></div>
    <div class="image-rect" style="background-image: url('../../../assets/img/img9.jpg');"></div>
    <div class="image-rect" style="background-image: url('../../../assets/img/img10.jpg');"></div>
</div>
<!-- Columna 4 -->
<div class="image-column">
    <div class="image-rect" style="background-image: url('../../../assets/img/img4.jpg');"></div>
    <div class="image-rect" style="background-image: url('../../../assets/img/img11.jpg');"></div>
    <div class="image-rect" style="background-image: url('../../../assets/img/img12.jpg');"></div>
</div>
<!-- Columna 5 -->
<div class="image-column">
  <div class="image-rect" style="background-image: url('../../../assets/img/img13.jpg');"></div>
  <div class="image-rect" style="background-image: url('../../../assets/img/img14.jpg');"></div>
  <div class="image-rect" style="background-image: url('../../../assets/img/img15.jpg');"></div>
</div>
<!-- Columna 6 -->
<div class="image-column">
  <div class="image-rect" style="background-image: url('../../../assets/img/img16.jpg');"></div>
  <div class="image-rect" style="background-image: url('../../../assets/img/img17.jpg');"></div>
  <div class="image-rect" style="background-image: url('../../../assets/img/img18.jpg');"></div>
</div>
<!-- Columna 7 -->
<div class="image-column">
<div class="image-rect" style="background-image: url('../../../assets/img/img19.jpg');"></div>
<div class="image-rect" style="background-image: url('../../../assets/img/img20.jpg');"></div>
<div class="image-rect" style="background-image: url('../../../assets/img/img21.jpg');"></div>
</div>

</div>

<div class="overlay"></div>

<nav class="navbar">
  <img src="../../../assets/logo.svg" alt="Logo" class="logo">
  <div class="navbar-buttons">
      <button>Iniciar Sesión</button>
      <button>Registrar</button>
  </div>
</nav>

  <div class="form-container">
    <form>
        <img src="../../../assets/logo-small.svg" alt="Logo" class="form-logo">
        <h2>Bienvenido a Flavorist</h2>
        
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Tu email" class="rounded-input">
  
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Tu contraseña" class="rounded-input">
  
        <label for="birthdate">Fecha de Nacimiento</label>
        <input type="date" id="birthdate" name="birthdate" class="rounded-input">
  
        <button type="submit" class="continue-btn">Continuar</button>
        <p class="or-separator">o</p>
        <button type="button" class="google-btn">
            <img src="../../../assets/img/logo-google.png" alt="Google logo"> Continuar con Google
        </button>
  
        <p class="member-question">¿Ya eres miembro? <a href="#">Inicia Sesión</a></p>
    </form>
  </div>






